*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; // 1rem = 10px

    @include respond(big-desk) { // width > 1800px?
        font-size: 75%; // 1rem = 12px
    }
    @include respond(tab-land) { // width < 1200px?
        font-size: 56.25%; // 1rem = 9px
    }
    @include respond(tab-port) { // width < 900px?
        font-size: 50%; // 1rem = 8px
    }    
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) { 
        padding: 0;
    } 
}

::selection {
    background-color: $color-primary-light;
    color: $color-grey-light-1;
}