@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager 
/*
   0 -  600px: Mobile Phone
 601 -  900px: Tablet Portrait
 901 - 1200px: Tablet Landscape
1201 - 1800px: (where normal styles apply)
1801 -     px: Big Desktop

$breakpoint argument choices:
- phone (Mobile Phone)
- tab-port (Tablet Portrait)
- tab-land (Tablet Landscape)
- big-desk (Big Desktop)

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px; (Default font-size of browsers)
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }; // 600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }; // 900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }; // 1200px
  }
  @if $breakpoint == big-desk {
    @media only screen and (min-width: 112.5em) { @content }; // 1800px
  }
}
